@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arimo';
    scroll-behavior: smooth;
    cursor: default;
}

header h1 {
    color: #00e4da;
    font-family: 'Archivo black';
    font-size: 32px;
    display: inline-block;
    padding: 10px 0px 10px 5%;
}

header nav {
    width: 80%;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: column;
    position: absolute;
    right: 14px;
    align-items: end;
    padding: 10px 20px 10px 20px;
    background-color: #181818;
    line-height: 40px;
    font-size: 1.3rem;
    border-radius: 4px;
}

header nav li {
    color: #fff;
}

header nav li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 600;
    cursor: pointer;
}

header nav li a:hover {
    color: #00e4da;
}

nav {
    display: none;
}

.elemento {
    position: absolute;
    display: block;
    color: #fff;
    right: 20px;
    top: 25px;
    cursor: pointer;
}

.h1-nav {
    /*background-color: #181818;*/
    display: block;
    gap: 30px;
}

.h1-nav img {
    width: 62px;
    padding-left: 20px;
    position: absolute;
}

/*Inicio*/
.presentacion_card {
    padding: 20px;
}

.contenedor_entrada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.resumen_card {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 24px;
    width: 100%;
    border-radius: 20px;
    max-width: 350px;
}

.resumen_card>img {
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    border: 6px solid #00e4da;
    width: 100%;
}

.info_breve {
    text-align: center;
    color: #fff;
}

.info_breve h2 {
    font-family: 'Archivo black';
    font-size: 1.6em;
    margin-bottom: 10px;
}

.info_breve p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.redes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.redes a i {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.redes a i:hover {
    color: #00e4da;
}

/*Sobre mí*/
.sobre_mí {
    /*Arriba - derecha - abajo - izquierda*/
    background-color: #222222;
    color: #fff;
    padding: 50px;
}

.sobre_mí h2 {
    font-family: 'Archivo black';
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
}

.sobre_mí>div>p {
    font-size: 1.2em;
    padding: 20px;
}

.sobre_mí>p {
    line-height: 20px;
}

.fila {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
}

.sobre_mí .fila {
    gap: 0px;
    padding-top: 10px;
}

.sobre_mí .prueba {
    width: 100%;
}

.sobre_mí .prueba a {
    color: #fff;
}

.sobre_mí .fila .col {
    padding: 20px 0px 20px 0px;
}

.sobre_mí button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
    background: transparent;
    margin-top: 10px;
    transition: 0.3s;
    border: 2px solid white;
    color: white;
    margin-top: 35px;
    font-size: 1em;
}

.sobre_mí button:hover {
    transform: scale(1.1);
}

.clase-button{
    margin: 0 auto;
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
    background: transparent;
    margin-top: 10px;
    transition: 0.3s;
    border: 2px solid white;
    color: white;
    margin-top: 35px;
    font-size: 1em;
}

.clase-button:hover{
    transform: scale(1.1);
}

.fila .col h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: center;
}

.intereses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    width: 100%;
    margin: auto;
}

.interes {
    height: 110px;
    background: #1c1c1c;
    width: 100%;
    font-size: 1.5rem;
    transition: 0.4s;
}

.interes:hover {
    cursor: context-menu;
    background-color: #ffffff;
    color: #ffffff;
    border: 2px solid #000000;
}

.interes span {
    display: flex;
    flex-direction: column;
    background-color: #00000022;
    padding: 10px;
    color: #fff;
    height: 100%;
    align-items: center;
    line-height: 30px;
    justify-content: center;
    width: 100%;
    transition: 0.4s;
}

.interes span:hover {
    scale: 1.2;
    color: #000000;
}

.sobre_mí p>span {
    color: #00e4da;
    font-size: 600;
}

.intereses {
    grid-template-columns: 1fr 1fr;
}

.fila .col {
    font-size: 1.2em;
}

.prueba {
    display: inline-block;
    width: 380px;
}

.prueba span {
    width: 380px;
    color: #fff;
}

.prueba .dato {
    color: #00e4da;
}

.prueba a i {
    cursor: pointer;
}

/*SKILLS*/
.skills {
    padding: 50px 50px 70px 50px;
    background-color: #151515;
}

.skills h3 {
    text-align: center;
    font-size: 2.7em;
    font-family: 'Archivo black';
    margin-bottom: 16px;
    color: #fff;
}

.barra {
    height: 8px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 18px;

}

.circuloI {
    background-color: #00e4da;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 0.8em;
    position: absolute;
    top: -16px;
    text-align: center;
    line-height: 40px;
    right: -15px;
    color: #000000;
    font-weight: 600;
}

.javascript {
    width: 40%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
    color: #fff;
}

.html_css {
    width: 89%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.html_css {
    width: 86%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.java {
    width: 70%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.bootstrap {
    width: 90%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.mysql {
    width: 80%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.skills h4 {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-size: 800;
    color: #fff;
}

.skills .fila {
    display: grid;
    grid-template-columns: 1fr;
}

/*Profesional skills*/
.skills .comunicacion {
    width: 86%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.skills .trabajo_equipo {
    width: 100%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
    font-size: 0.8em;
}

.skills .creatividad {
    width: 70%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.skills .dedicacion {
    width: 90%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.skills .adaptabilidad {
    width: 80%;
    height: 8px;
    background-color: #00e4da;
    z-index: 99;
    position: relative;
}

.skills span {
    color: #fff;
}

/*CURRICULUM*/
.curriculum {
    background-color: #222222;
    color: #fff;
    padding: 50px 30px 50px 30px;
}

.curriculum .fila {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
}

.curriculum h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.7em;
    font-family: 'Archivo black';
}

.curriculum span {
    color: #00e4da;
    display: block;
    font-weight: 600;
}

.curriculum .fecha {
    margin-bottom: 10px;
}

.curriculum h3 {
    text-align: center;
    margin-bottom: 20px;
}

.curriculum h4 {
    margin-bottom: 10px;
}

.curriculum .card {
    background: #151515;
    padding: 30px;
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*PORTFOLIO*/
.portfolio {
    background-color: #1c1c1c;
    padding: 50px;
    color: #fff;
}

.portfolio .fila {
    grid-template-columns: 1fr;
    gap: 16px;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.6em;
    font-family: 'Archivo black';
}

.proyectos {
    position: relative;
    height: 200px;
    width: 100%;
    border-bottom: 4px solid #fff;
}

.proyectos .info_proyecto {
    opacity: 1;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.565);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #fff;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-weight: 600;
}

.proyectos img {
    width: 100%;
    height: 100%;


    position: absolute;
}

.proyectos .info_proyecto:hover {
    opacity: 1;
    cursor: pointer;
}

/*Contacto*/
.contacto {
    background-color: #181818;
    color: #fff;
    padding: 50px 50px 75px 50px;
}

.contacto .fila {
    gap: 0px;
}

.contacto h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.6em;
    font-family: 'Archivo black';
}

table {
    padding: 10px 0px 24px 0px;
    width: 100%;
}

tr {
    height: 55px;
}

.contacto table input {
    height: 45px;
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: auto;
}

.contacto textarea {
    width: 100%;
    resize: none;
    margin-top: 4px;
    height: 165px;
    background-color: #1f1f1f;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: auto;
}

.contacto iframe {
    display: flex;
    width: 100%;
    margin: auto;
    height: 320px;
    padding: 0px;
}

.contacto .info_direccion {
    font-size: 1.4rem;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.contacto button {
    width: 140px;
    padding: 6px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.3s;
    font-weight: 600;
}

.contacto button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/*Footer*/
footer {
    position: relative;
    background: #151515;
    height: 200px;
}


footer .div_footer {
    color: #fff;
    position: relative;
    top: 0px;
    background-color: transparent;
}

footer .div_footer i {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -16px;
}

/*El div que contiene al ícono de la flechita*/
footer .eldiv {
    display: flex;
    justify-content: center;
}

.redes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.redes a i {
    padding: 4px 5px;
    border-radius: 50%;
    color: white;
    transition: 0.4s;
}



.posicionar_redes {
    text-align: center;
    margin-top: 50px;
}

.nombre_footer {
    display: block;
    text-align: center;
    font-weight: 800;
    color: #fff;
}

.mostrar_toggle {
    display: block;
}

.hr_final {
    margin-top: 10px;
}

.creditos {
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.creditos:hover {
    color: #00e4da;
}

/*Notificacion*/
.notificacion {
    display: flex;
    position: fixed;
    background: #52c13b;
    right: 0px;
    z-index: 250;
    border-radius: 4px;
    overflow: hidden;
    /*animation: 1s infinite mensaje_animacion;*/
    display: none;
}

.notificacion>i {
    padding: 10px 0px 10px 10px;
    color: #fff;
}

.mensaje_ntf {
    color: #fff;
    padding: 10px;
}

.cerrar_ntf {
    background-color: #55ab44;
    color: #fff;
    padding: 10px;
    transform: translateY(0px);
    top: 0px;
    right: 0px;
}

.animacion_ntf {
    /*Aquí tiene que ir el forwards*/
    animation: 1s mensaje_animacion forwards;
}

.mostrar_notificacion {
    display: flex;
}

/*Animaciones*/
@keyframes mensaje_animacion {

    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.cerrar_ntf i:hover {
    cursor: pointer;
}

.retirada {
    animation: 1s mensaje_animacion_retirada forwards;
}

@keyframes mensaje_animacion_retirada {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

/*Min*/
@media (min-width: 576px) {
    .intereses {
        width: 50%;
    }

    .portfolio {
        padding: 50px 140px 50px 140px;
    }

    table {
        padding: 0px 30px 24px 30px;
    }

    .presentacion_card {
        padding: 100px;
    }
}

/*Md*/
@media (min-width: 768px) {
    table {
        padding: 0px;
    }

    .portfolio {
        background-color: #1c1c1c;
        padding: 50px 100px 50px 100px;
        color: #fff;
    }

    .portfolio .fila {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    /*Curriculum*/
    .curriculum {
        padding: 50px;
    }

    .curriculum .fila {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    hr {
        margin: 10px 0px;
    }

    .curriculum .fila .col {
        display: flex;
        flex-direction: column;
    }

    .curriculum .card {
        min-height: 410px;
    }

    /*Skills*/
    .skills {
        padding: 50px 128px 70px 128px;
    }

    .skills .fila {
        grid-template-columns: 1fr 1fr;
    }

    .sobre_mí {
        padding: 50px;
    }

    /*Contacto*/
    .contacto .fila {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .contacto iframe {
        height: 80%;
    }
}

/*Lg*/
@media (min-width: 992px) {
    .mensaje_ntf {
        padding: 18px 10px;
    }

    .notificacion>i {
        padding: 12px 0px 10px 10px;
        font-size: 1.8rem;
    }

    .cerrar_ntf {
        padding: 17px 20px 0px 20px;
        font-size: 1.2rem;
    }

    .portfolio {
        padding: 50px 250px 50px 250px;
    }

    /*Curriculum*/
    .curriculum {
        padding: 50px 100px;
    }

    .contacto {
        padding: 50px 128px 75px 128px;
    }

    .intereses {
        width: 50%;
        gap: 6px;
    }

    .elemento {
        display: none;
    }

    nav {
        display: flex;
    }

    header nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        width: 62%;
        top: 0px;
        right: 60px;
        position: fixed;
        z-index: 200;
    }

    .sobre_mí .fila {
        grid-template-columns: 1fr 1fr;
    }

    .sobre_mí {
        padding: 50px 128px 50px 128px;
    }

    .datos_personales {
        line-height: 30px;
    }

    .contacto iframe {
        height: 100%;
    }

    table {
        padding-top: 5%;
    }

}

@media(min-width: 1024px) {
    .presentacion_card {
        padding: 0.5%;
    }
}

/*Xl*/
@media (min-width: 1200px) {
    .presentacion_card {
        padding: 5%;
    }

    .portfolio {
        padding: 50px 200px 50px 200px;
    }

    .portfolio .fila {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

    }

    .curriculum {
        padding: 20px 150px 20px 150px;
    }

    .curriculum .card {
        padding: 40px;
        max-width: 370px;
    }

    .contacto {
        padding: 50px 120px 75px 120px;
    }
}

/*Xxl*/
@media (min-width: 1400px) {

    /*Curriculum*/
    .curriculum {
        padding: 20px 20% 20px 20%;
    }

    header nav ul {
        width: 50%;
        right: 60px;
    }

    .portfolio {
        padding: 50px 300px 70px 300px;
    }

    .skills {
        padding: 50px 300px 70px 300px;
    }

    .sobre_mí {
        padding: 50px 300px 50px 300px;
    }

    .contacto {
        padding: 50px 300px 75px 300px;
    }

    table {
        width: 90%;
    }
}

@media (min-width: 1600px) {
    .portfolio {
        padding: 50px 500px 70px 500px;
    }
}
