/*Dise침o base: Para m칩vil*/
.navbar {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}

.navbar-brand::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,
            transparent,
            #020617,
            transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-brand:hover::after {
    opacity: 1;
}

.menu-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #020617;
    list-style: none;
    padding: 1rem;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0;
}

/*Este active se activa cuando la ruta coincide con el nombre puesto en el routerLinkedActive*/
.active {
    font-weight: bolder !important;
}

.nav-links.open {
    display: flex;
}

/*Dise침o para tablet*/
@media(min-width:768px) {}

/*Dise침o para Desktop*/
@media(min-width:1024px) {
    .navbar{
        padding: 1rem 6.1rem;
    }
    .nav-links {
        background-color: transparent;
        display: flex !important;
        position: static;
        flex-direction: row;
        width: auto;
        padding: 0;
        color: black !important;
        gap: 2rem;
        padding: 4px 10px;
    }

    .nav-links a {
        color: black;
    }

    .menu-button {
        display: none;
    }
}