<div class="home-container">
    <div class="home-hero">
        <div class="home-intro">
            <h1><span class="flat">Hello!</span> I'm Daniel <i class="fa-solid fa-star"></i></h1>
            <img class="me-img-1" src="../../../assets/img/me.jpg" alt="me.jpg" />
            <p class="short-intro">Full Stack Developer - Angular & Spring Boot</p>
            <p class="description">I build complete <strong>web applications</strong> with a focus on <strong>clean
                    architecture</strong>,
                scalable APIs, and <strong>modern frontend development</strong>.</p>

            <ul class="home-links">
                <li class="first">Real-world application development </li>
                <li class="second">Frontend and backend integration </li>
                <li class="third">Clean & scalable architecture </li>
            </ul>

            <div class="home-buttons">
                <a class="first" routerLink="/contact">Let's talk</a>
                <a [href]="cv" download="CV-Daniel-Castaneda-Ing-Sistemas" class="second">Download Cv
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>
        <img class="me-img-2" src="../../../assets/img/me.jpg" alt="me.jpg" />
    </div>
    <app-socials></app-socials>

</div>