<div class="home-container">
    <h1>Hello! I'm Daniel</h1>
    <img class="me-img" src="../../../assets/img/me.jpg" alt="me.jpg" width="200" />
    <p class="short-intro">FullStack Developer <br />
        Angular & Spring Boot</p>
    <ul class="home-links">
        <li>Real-world application development </li>
        <li>Frontend and backend integration </li>
        <li>Clean, readable, and maintainable code </li>
    </ul>
    <div class="home-buttons">
        <button class="first">Let's talk</button>
        <button class="second">Download Cv <i class="fa-solid fa-arrow-down" style="color: #000000;"></i></button>
    </div>
    <div class="home-socials">
        <i class="fa-brands fa-linkedin fa-xl" style="color: #000000;"></i>
        <i class="fa-brands fa-github fa-xl" style="color: #000000;"></i>
        <i class="fa-brands fa-youtube fa-xl" style="color: #000000;"></i>
    </div>
</div>