<div class="socials">
    <div class="superior">
        <span class="line"></span>

        <a href="https://linkedin.com/in/yoshua-daniel-cr" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin fa-xl"></i>
            <span> LinkedIn</span>
        </a>

        <a href="https://github.com/Daniee19" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github fa-xl"></i>
            <span> GitHub</span>
        </a>

        <a href="https://youtube.com/@YoshTwoThousandFive" target="_blank" aria-label="YouTube">
            <i class="fa-brands fa-youtube fa-xl"></i>
            <span> YouTube</span>
        </a>
        <span class="line"></span>
    </div>
    <div class="inferior">
        <a [href]="'mailto:'+email" target="_blank" aria_label="Email">
            {{ email }}
        </a>
    </div>

</div>