/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: linear-gradient(180deg,
            #ffffff 0%,
            #f8fafc 100%);
}

html,
body {
    min-height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}