.projects-container {
    display: flex;
    width: 100%;
    gap: 20px;
    background-color: brown;
    position: relative;
    margin: auto;
}

.filtros-section {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 80%;
    position: absolute;
    font-size: 14px;
}

.filtros-disponibles>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects-section {
    background-color: lightblue;
    width: 100%;
    padding: 1rem;
    height: 100vh;
    overflow-y: auto;
}

.filtros-seleccionados {
    background-color: white;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.item-seleccionado {
    background-color: lightgreen;
    padding: 4px 10px;
    cursor: pointer;
    width: fit-content
}

.item-seleccionado:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.filtros-disponibles {
    background-color: white;
    padding: 10px;
}

.filtros-section {
    display: none;
    height: 100vh;
}
.filter-item{
    padding: 6px;
    cursor: pointer;
}
.filtros-section.active {
    display: block;
}

.filtros-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.filtros-header .icons-header i {
    margin-left: 12px;
    cursor: pointer;
}

.icons-header {
    display: flex;
    align-items: center;
    padding: 0px 2px;
}

.projects-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
}

/**/
.project-technologies {
    background-color: red;
    display: flex;
    gap: 5px;
}

.tech-badge {
    background-color: yellow;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
}

@media (min-width: 768px) {
    .projects-container {
        flex-direction: row;
    }

    .filtros-section {
        display: block;
        width: 250px;
        position: relative;
    }

    .projects-section {
        flex: 1;
    }

    .arrow-icon {
        display: none;
    }

    .x-icon {
        display: none;
    }
}

@media (min-width: 1024px) {
    .projects-container {
        width: 80%;
    }

}