<div class="projects-container">
    <!--BACKDROP-->
    <div class="backdrop" *ngIf="defecto" (click)="setBurger()">
    </div>
    <section class="filtros-section" [class.active]="defecto === true">
        <div class="filtros-header" [class.is-visible]="showHeader">
            <h2>Filters</h2>
            <div class="icons-header">
                <i class="fa-solid fa-trash-can fa-xl" (click)="deleteAllFilters()"></i>
                <i class="fa-solid fa-x fa-xl x-icon" (click)="setBurger()"></i>
            </div>
        </div>
        <div class="filtros-seleccionados" id="filtros_seleccionados">
            <div class="item-seleccionado" *ngFor="let filter of selectedTechnologies"
                (click)="unSelectedFilter(filter)">
                {{ filter.name }}
            </div>
        </div>

        <hr [class.is-visible]="showLine" />
        <div class="filtros-disponibles">
            <h3 class="titulo-filtros-disponibles" [class.is-visible]="showAvailableTitleFilter">Frontend</h3>
            <ul>
                <li *ngFor="let filter of filters.frontend" [class.is-visible]="showLi">
                    <div class="filter-item" (click)="selectFilter(filter)">
                        {{ filter.name }}
                    </div>
                </li>
            </ul>
        </div>

        <div class="filtros-disponibles">
            <h3 class="titulo-filtros-disponibles" [class.is-visible]="showAvailableTitleFilter">Backend</h3>
            <ul>
                <li *ngFor="let filter of filters.backend" [class.is-visible]="showLi">
                    <div class="filter-item" (click)="selectFilter(filter)">
                        {{ filter.name }}
                    </div>
                </li>
            </ul>
        </div>

        <div class="filtros-disponibles">
            <h3 class="titulo-filtros-disponibles" [class.is-visible]="showAvailableTitleFilter">Tools</h3>
            <ul>
                <li *ngFor="let filter of filters.tools" [class.is-visible]="showLi">
                    <div class="filter-item" (click)="selectFilter(filter)">
                        {{ filter.name }}
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="projects-section">
        <div class="projects-intro">
            <h2 class="titulo-project-intro" [class.agrandar-tamanio-normal]="showTitleProject">Projects</h2>
            <a class="arrow-icon" (click)="setBurger()">
                <i class="fa-solid fa-angles-right fa-xl"></i>
            </a>
        </div>
        <div class="only-projects" *ngIf="showProjects" [@listAnimation]>
            <!-- 🧠 Respuesta corta (para que te quedes tranquilo) (sobre como funciona el @listAnimation)

            :enter se dispara cuando un elemento aparece en el DOM
            :leave se dispara cuando un elemento se elimina del DOM

            push() y filter() solo provocan esos cambios

            👉 Angular no escucha métodos, escucha el DOM. -->

            <div class="project-card" *ngFor="let project of projects">

                <div class="project-image">

                    <img [src]="project.urlPhoto" [alt]="project.name + ' preview'" />

                    <!-- Overlay -->
                    <div class="image-overlay">
                        <a [href]="project.link" target="_blank" class="overlay-btn primary">
                            Live
                        </a>

                        <a [href]="project.link" target="_blank" class="overlay-btn secondary">
                            Code
                        </a>
                    </div>

                </div>
                <div class="project-content">
                    <h3 class="project-title">{{ project.name }}</h3>
                    <p class="project-description">{{ project.description }}</p>

                    <div class="project-technologies">
                        <span *ngFor="let tech of project.tecnologias" class="tech-badge">
                            {{ tech }}
                        </span>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>